@import "tailwindcss";





   html,
   body {
       overscroll-behavior: none;
       touch-action: none;
       /* disables browser pinch-zoom + pan */
   }

   canvas {
       touch-action: none;
       /* also disable on canvas */
   }